body {
  margin: 0;
  font-family: "Inter Tight", "Inter", sans-serif;
  background-color: #f2f3f5;
  color: #111;
}

/* Layout: Sidebar + Content */
.main-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  background-color: #f2f3f5;
  color: #111; /* Main text BLACK */
}
